.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5vh;
    .profile-details {
        width: 60%;
    }
    .post-container {
        width: 56%;
        padding: 2%;
    }
}