<div class="main-container">
    <div class="card-holder">
        <app-round-cards [cardImage]="'https://images.unsplash.com/photo-1537204696486-967f1b7198c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'"></app-round-cards>
        <label>Chappy</label>
    </div>
    <div class="card-holder">
        <app-round-cards [cardImage]="'https://images.unsplash.com/photo-1586671267731-da2cf3ceeb80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=689&q=80'"></app-round-cards>
        <label>Billa</label>
    </div>
    <div class="card-holder">
        <app-round-cards [cardImage]="'https://images.unsplash.com/photo-1587790311640-50b019663f01?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80'"></app-round-cards>
        <label>Diler</label>
    </div>
    <div class="card-holder">
        <app-round-cards [cardImage]="'https://images.unsplash.com/photo-1555523940-8c7a0233a104?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80'"></app-round-cards>
        <label>Kathmandu</label>
    </div>
    <div class="card-holder">
        <app-round-cards [cardImage]="'https://images.unsplash.com/photo-1591160690555-5debfba289f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80'"></app-round-cards>
        <label>Pari</label>
    </div>
    <div class="card-holder">
        <app-round-cards [cardImage]="'https://images.unsplash.com/photo-1608831540955-35094d48694a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=826&q=80'"></app-round-cards>
        <label>Lukkha</label>
    </div>
    <div class="card-holder">
        <app-round-cards [cardImage]="'https://images.unsplash.com/photo-1583337130417-3346a1be7dee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80'"></app-round-cards>
        <label>Cherry</label>
    </div>
    <div class="card-holder">
        <app-round-cards [cardImage]="'https://images.unsplash.com/photo-1623052940978-051d2c0fb4be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80'"></app-round-cards>
        <label>Totum</label>
    </div>
    <div class="card-holder">
        <app-round-cards [cardImage]="'https://images.unsplash.com/photo-1626736637845-53045bb9695b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=711&q=80'"></app-round-cards>
        <label>Bhedia</label>
    </div>
</div>