.home-container {
    position: absolute;
    width: 150%;
    height: 150%;
}

.trail {
    position: absolute;
    content: url("./../../assests/images/foot.png");
    height: 16px;
    width: 16px;
    object-fit: cover;
    border-radius: 3px;
}