<div>
    <app-basic-button [buttonName]="'Basic'" [category]="'Basic'"></app-basic-button>
    <app-basic-button [buttonName]="'Primary'" [category]="'Primary'"></app-basic-button>
    <app-basic-button [buttonName]="'Secondary'" [category]="'Secondary'"></app-basic-button>
    <app-basic-button [buttonName]="'Warn'" [category]="'Warn'"></app-basic-button>
    <app-basic-button [buttonName]="'Disabled'" [category]="'Disabled'"></app-basic-button>
</div>
<div>
    <app-solid-button [buttonName]="'Solid Button'"></app-solid-button>
</div>
<div>
    <app-icon-button [buttonName]="'Icon'"></app-icon-button>
</div>
<div>
    <app-block-icon-button [buttonName]="'Block Icon'"></app-block-icon-button>
</div>
<div>
    <app-outlined-button [buttonName]="'Outlined'"></app-outlined-button>
</div>
