<div class="main-container" [ngClass]="isFollowing ? 'blue-marker' : 'gray-marker'">
    <app-profile-image></app-profile-image>
    <div class="prfoile-description">
        <div>
            <h2>Princess Victoria</h2>
        </div>
        <div class="main-holder">
            <app-button [category]="'text-button'" [buttonName]="'posts : '"></app-button>
            <app-button [category]="'text-button'" [buttonName]="'followers : '"></app-button>
            <app-button [category]="'text-button'" [buttonName]="'follows : '"></app-button>
        </div>
        <div>

        </div>
    </div>
    <div class="follow-button">
        <app-button *ngIf="isFollowing" [category]="'icon'" [iconName]="'bookmarks'" (buttonClicked)="toggleFollow()"></app-button>
        <app-button *ngIf="!isFollowing" [category]="'icon'" [iconName]="'bookmark'" (buttonClicked)="toggleFollow()"></app-button>
    </div>
</div>
