<div class="main-container">
    <app-profile-image></app-profile-image>
    <div class="prfoile-description">
        <div>
            <h2>Princess Victoria</h2>
        </div>
        <div class="main-holder">
            <app-button [category]="'text-button'" [buttonName]="'posts : '"></app-button>
            <app-button [category]="'text-button'" [buttonName]="'followers : '"></app-button>
            <app-button [category]="'text-button'" [buttonName]="'follows : '"></app-button>
        </div>
        <div>

        </div>
    </div>
</div>
