.carousel-container {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    transform: translate(var(--carousel-move-percent), 50%);
    animation-duration: 1200ms;
    animation-fill-mode: forwards;
    cursor: crosshair;
}

.carousel-container>.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: var(--image-move-percent) 100%;
    animation-duration: 1200ms;
    animation-fill-mode: forwards;
    filter: blur(.6px);
    -webkit-filter: blur(.6px);
    opacity: .95;
}

.carousel-container>.image:hover {
    filter: blur(0);
    -webkit-filter: blur(0);
    opacity: 1;
}