$basic-color: #ffffff;
$primary-color: #00e1ff;
$secondary-color: #00ff88;
$warn-color: #ff0000;
$disabled-color: #dddddd;
$text-dark-00: #000;
$text-dark-03: #222;
$text-dark-06: #555;
$text-dark-09: #888;
$text-dark-12: #bbb;
$text-dark-15: #eee;