$basic-color: #ffffff;
$primary-color: #00e1ff;
$secondary-color: #00ff88;
$warn-color: #ff0000;
$disabled-color: #dddddd;
$text-dark-00: #000;
$text-dark-03: #333;
$text-dark-06: #666;
$text-dark-09: #999;
$text-dark-12: #ccc;

.basic {
    background-color: $basic-color;
    color: $text-dark-06;
}

.primary {
    background-color: $primary-color;
    color: $text-dark-06;
}

.secondary {
    background-color: $secondary-color;
    color: $text-dark-06;
}

.warn {
    background-color: $warn-color;
    color: $text-dark-06;
}

.disabled {
    background-color: $disabled-color;
    color: $text-dark-06;
}