$basic-color: #ffffff;
$primary-color: #00e1ff;
$secondary-color: #00ff88;
$warn-color: #ff0000;
$disabled-color: #dddddd;
$text-dark-00: #000;
$text-dark-03: #333;
$text-dark-06: #666;
$text-dark-09: #999;
$text-dark-12: #ccc;