<div class="main-container">
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
    <app-connection-chips></app-connection-chips>
</div>
