.main-container {
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 1px black;
    padding: 2.5vh;
}