<div class="card-container">
    <img src="https://images.unsplash.com/photo-1667321804947-78cf880df9ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
    <div class="description-container">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, incidunt dolor dolorum architecto vitae ratione perspiciatis totam modi, perferendis ipsam assumenda ducimus iure sit nemo beatae nisi temporibus. Error, eos.
        </p>
    </div>
    <div class="footer-container">
        <div class="button-container">
            <app-button [category]="'text-button basic'"></app-button>
        </div>
        <div class="button-container">
            <app-button [category]="'text-button warn'"></app-button>
        </div>
    </div>
</div>