@import './../../theme.scss';

button {
    cursor: pointer;
}

.text-button {
    background-color: #00000000;
    border: 0;
    padding: 1rem;
    font-size: 1rem;
    color: $text-dark-03;
    &.primary {
        color: $primary-color;
    }
    &.secondary {
        color: $secondary-color;
    }
    &.warn {
        color: $warn-color;
    }
    &.disabled {
        color: $text-dark-09;
    }
    &.underline {
        text-decoration:underline;
    }
}
.main-button {
    border: 0;
    border-radius: 4px;
    padding: 1rem;
    font-size: 1rem;
    background-color: $basic-color;
    color: $text-dark-03;
    box-shadow: 0px 0px 12px 0px $text-dark-09;
    &.primary {
        background-color: $primary-color;
        color: $basic-color;
    }
    &.secondary {
        background-color: $secondary-color;
        color: $basic-color;
    }
    &.warn {
        background-color: $warn-color;
        color: $basic-color;
    }
    &.disabled {
        background-color: $text-dark-09;
        color: $basic-color;
    }
}
.outline-button {
    border: 2px solid $text-dark-03;
    border-radius: 4px;
    padding: calc(1rem - 2px);
    font-size: 1rem;
    border-color: $text-dark-06;
    background-color: $basic-color;
    color: $text-dark-03;
    box-shadow: 0px 0px 12px 0px $text-dark-09;
    &.primary {
        border-color: $primary-color;
        color: $text-dark-03;
    }
    &.secondary {
        border-color: $secondary-color;
        color: $text-dark-03;
    }
    &.warn {
        border-color: $warn-color;
        color: $text-dark-03;
    }
    &.disabled {
        border-color: $text-dark-12;
        background-color: $text-dark-15;
        color: $text-dark-12;
    }
}
.icon {
    background-color: #00000000;
    border: 0;
    color: $text-dark-03;
    &.primary {
        color: $primary-color;
    }
    &.secondary {
        color: $secondary-color;
    }
    &.warn {
        color: $warn-color;
    }
    &.disabled {
        color: $text-dark-09;
    }
}

.large {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
}

.medium {
    font-size: 1.6rem;
    height: 1.6rem;
    width: 1.6rem;
}

.small {
    font-size: 1.2rem;
    height: 1.2rem;
    width: 1.2rem;
}