.main-container {
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 1px 5px 1px gray;
    padding: 6px;
    gap: 12px;

    &:hover {
        transform: scalex(1.01);
    }
    img {
        height: 48px;
        width: 48px;
    }
    h3 {
        padding: 0;
        margin: 0;
        font-size: 20px;
    }
}