@import url('./../../Theme.css');

.card-container {
    background-color: var(--var-not-darkgreen);
    position: absolute;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 0px var(--var-black-04);
}

.card-container>a>img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
    opacity: 0;
    transition: 1000ms;
}

a {
    color: inherit;
    border-radius: inherit;
}

.card-container>a>h2 {
    position: absolute;
    width: 100%;
    font-size: 2.5rem;
    top: 0%;
    text-align: center;
    transition: 2000ms;
    opacity: 0;
}

.card-container:hover {
    transform: scale(1.05);
    transition: 1000ms;
    box-shadow: 2px 2px 8px 0px var(--var-black-04);
}

.card-container:hover img {
    opacity: 1;
}

.card-container:hover h2 {
    top: 45%;
    color: var(--var-black-15);
    opacity: 1;
}