.main-container {
    height: 100%;
    width: 50vw;
    border-radius: 10px;
    box-shadow: inset 2px 2px 10px 2px black;
    padding: 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    textarea {
        width: calc(50vw - 6vh);
        padding: 2.5vh;
        outline: none;
        resize: none;
    }
}

.right {
    align-items: flex-start;
}