.main-container {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px 1px black;
    padding: 2.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .type-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        textarea {
            width: calc(100% - 10vh);
            padding: 1.5vh;
            padding-right: calc(1.5vh + 50px);
            font-size: 1rem;
            outline: none;
            resize: none;
            overflow-x: hidden;
            word-wrap: break-word;
            border-radius: 4px;
            border: 0;
            box-shadow: inset 0px 0px 4px 1px black;
        }
        img {
            height: 40px;
            width: 40px;
            margin-left: -50px;
        }
    }
}

.right {
    align-items: flex-start;
}