<div class="main-container">
    <img [src]="imageSrc">
    <div class="button-holder">
        <app-button [iconColor]="'white'" [iconSize]="'medium'" [category]="'icon'" [iconName]="'thumb_up'"></app-button>
        <app-button [iconColor]="'white'" [iconSize]="'medium'" [category]="'icon'" [iconName]="'thumb_down'"></app-button>
        <app-button [iconColor]="'white'" [iconSize]="'medium'" [category]="'icon'" [iconName]="'chat'"></app-button>
        <app-button [iconColor]="'white'" [iconSize]="'medium'" [category]="'icon'" [iconName]="'arrow_circle_up'"></app-button>
    </div>
</div>
